<h2>Lista de resultado - {{ lista.data.length }}</h2>

<div>
    <button class="btn btn-primary mb-3" (click)="getDados()">Buscar</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>            
            <th scope="col">Interesse</th>
            <th scope="col">Tamanho do público</th>
            <th scope="col">Tópico</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let interesse of lista.data; index as i">            
            <td>{{ interesse.name }}</td>
            <td>{{ interesse.audience_size | number }}</td>
            <td>{{ interesse.topic || 'Sem categoria' }}</td>
        </tr>
    </tbody>
</table>