.af-icon-button{
    cursor: pointer;    
}

.af-icon-badge{
    color: #fff;
    fill: #fff;
    fill-opacity: #fff;
    fill-rule: #fff;
}

.af-caixa-selecao{
    height: 8vh;
}

.af-box-resultados{
    max-height: 62vh;
    overflow-y: scroll;
}