.af-icon-button{
    cursor: pointer;    
}

.af-icon-badge{
    color: #fff;
    fill: #fff;
    fill-opacity: #fff;
    fill-rule: #fff;
}

.af-caixa-selecao{
    height: 8vh;
}

.af-caixa-selecao-lateral{
    height: 30vh;
}

.af-box-selecao{
    // height: 30vh;
}

.af-box-resultados{
    // max-height: 81vh;
    // overflow-y: scroll;
}