<nav class="navbar bg-primary navbar-dark fixed-top py-3">
    <div class="row w-100">
        <div class="col-3">
            <a class="navbar-brand text-white" href="#"><strong>Audience Finder</strong></a>
        </div>

        <div class="col-7">
            <form class="form-inline">
                <input class="form-control w-75 mr-2" type="search" [(ngModel)]="keyword" placeholder="Digite o interesse: Pets, Meditação, Lowcarb...">
                <button class="btn btn-light" type="submit" (click)="getDados()" [disabled]="buscando">
                    Buscar Públicos
                    <div class="spinner-border spinner-border-sm ml-1" role="status" *ngIf="buscando">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </form>
        </div>

        <div class="col-2 text-right">
            dasdasd
        </div>
    </div>
</nav>